{% extends 'base/base.html' %}
{% load static %}

{% block page_title %}Update Store{% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'base//styles//form_card.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="card-container">
    <div class="form-card">
        <div class="form-header">
            <h2>Update Store</h2>
            <p>Update store details</p>
        </div>
    
        <!-- Store Update Form -->
        <form action="{% url 'stores:store_update' store.pk %}" id="update-store-form">
            {% csrf_token %}
            <div class="form-fields">
                <div class="form-field">
                    <label for="name" hidden>Store Name</label>
                    <input
                        title="Change the name of your store" 
                        id="name" 
                        name="name" 
                        class="form-input"
                        placeholder="Store name" 
                        value="{{ store.name }}"
                        required
                    >
                    <small class="field-message"></small>
                </div>
    
                <div class="form-field">
                    <label for="email" hidden>Store Email</label>
                    <input 
                        title="Change the email address for your store"
                        type="email" 
                        id="email" 
                        name="email" 
                        class="form-input" 
                        placeholder="Store email"
                        value="{{ store.email }}"
                        required
                    >
                    <small class="field-message"></small>
                </div> 
    
                <div class="form-field">
                    <label for="store-type" hidden>Store Type</label>
                    <select 
                        title="Change the store type"
                        id="store-type" 
                        name="type" 
                        required 
                        class="form-select"
                    >
                        <option value="">Select your store type</option>
                        {% for type in store_types %}
                            <option 
                                value="{{ type|first }}" 
                                {% if type|first == store.type %}
                                    selected
                                {% endif %}
                            >
                            {{ type|last }}
                            </option>
                        {% endfor %}
                    </select>
                    <small class="field-message"></small>
                </div>
                
                <div class="form-field">
                    <label for="store-currency" hidden>Default Store Currency</label>
                    <select 
                        title="Change the currency in which your stores products will be priced"
                        id="store-currency" 
                        name="default_currency" 
                        required 
                        class="form-select"
                    >
                        <option value="">Choose a preferred currency</option>
                        {% for currency in currencies %}
                        <option 
                            value="{{ currency|first }}" 
                            {% if currency|first == store.default_currency %}
                                selected
                            {% endif %}
                        >
                            {{ currency|last }}
                        </option>
                        {% endfor %}
                    </select>
                    <small class="field-message"></small>
                </div>
    
                <div class="form-field">
                    <label for="passkey" hidden>Store Passkey</label>
                    <input 
                        title="Enter next pass key for {{ store.name }}"
                        type="password" 
                        id="passkey" 
                        name="passkey" 
                        class="form-input" 
                        placeholder="Enter new store passkey (Optional)"
                        minlength="4" 
                        maxlength="20"
                    >
                    <small class="field-message"></small>
                </div>
            </div>
    
            <div class="submit-btn-wrapper">
                <button class="btn-primary submit-btn" type="submit" disabled>
                    Update Store
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'stores//scripts//storeUpdate.js' %}"></script>
{% endblock scripts %}

