
/* Dashboard Section */
#dashboard-stats{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px 0;
    padding: 10px;
    margin: 20px 0;
}

#dashboard-stats > #stats-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
}

#stats-header > h2{
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    color: var(--text-dark);
}

#stats-header > p{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 600;
    color: var(--teal);
}

#dashboard-stats > #stats-cards{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px 30px;
}

#stats-cards > .stat-card{
    max-width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    isolation: isolate;
    position: relative;
    padding-inline: 20px;
}

.stat-card > .stat-card-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

.stat-card-header > h3{
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 700;
    color: var(--text-dark);
}

.stat-card-header > p{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    color: var(--bluish-gray);
}

.stat-card-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

.stat-card-body > h1{
    font-family: "DM Sans";
    font-size: clamp(24px, 2vw, 36px);
    font-weight: 700;
    color: var(--dark-gray);
    flex-shrink: 0;
}

.stat-card-body > .more-options{
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 500;
    color: var(--jasper);
    cursor: pointer;
    text-decoration: underline;
}

/* Advanced Options Card */

.stat-card > .options-card{
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    height: 350px;
    display: none;
}

.options-card > .card-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px;
    box-shadow: 0 1px 0 var(--bluish-gray);
}

.card-header > h4{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 700;
    color: var(--text-dark);
}

.card-header > img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.options-card > .card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    overflow-y: scroll;
}

.card-body::-webkit-scrollbar, .card-body > *::-webkit-scrollbar {
    display: none;
}

.card-body > .card-body-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-body-head > h3{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 700;
    color: var(--text-dark);
    flex-shrink: 0;
}

.card-body-head > button{
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 500;
}

.card-body > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow-y: scroll;
}

.card-body > form > fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border: none;
    padding: 6px;
}

.card-body > form > fieldset > legend{
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    color: var(--deep-blue);
}

.card-body > form .form-field{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.form-field label {
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
}

/* Media Queries */
@media (hover:hover){

    .stat-card-body > .more-options:hover{
        opacity: 0.8;
    }
}


@media screen and (max-width: 1280px){

}


@media screen and (max-width: 980px){

}


@media screen and (max-width: 600px){

}
