#main > header > #search-bar{
    display: none !important;
}

#main > header > #header-logo{
    display: flex !important;
}

#header-text > h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 4px;
}

#header-text > h1 > svg{
    fill: var(--teal) !important;
}

#account-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 5px;
    border-block: 1px solid var(--bluish-gray)
}

#account-details > .form-card, #change-password > .form-card{
    box-shadow: none;
}

#auto-timezone{
    font-size: 11px;
    color: var(--teal);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-end;
}

#more-account-options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 5px;
}

#more-account-options > #account-delete{
    font-size: 11px;
    color: red;
    font-weight: 500;
}
