{% extends 'base/base.html' %}
{% load static %}

{% block page_title %}Verify Account Ownership{% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'base/styles/form_card.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="card-container">
    <div class="form-card">
        <div class="form-header">
            <h2>Verify account ownership</h2>
            <p>Enter your password. Let's ensure that you own this account</p>
        </div>
    
        <!-- Password Verification Form -->
        <form id="password-verification-form">
            {% csrf_token %}
            <div class="form-fields">
                <div class="form-field">
                    <label for="password" hidden>Account Password</label>
                    <input 
                        title="Enter the password for this account"
                        type="password" 
                        id="password" 
                        name="password" 
                        class="form-input" 
                        placeholder="Account password"
                        minlength="4" 
                        maxlength="20"
                        autofocus
                        required
                    >
                    <small class="field-message"></small>
                </div>
            </div>
    
            <div class="submit-btn-wrapper">
                <button class="btn-primary submit-btn" type="submit">
                    Done
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'users//scripts//passwordVerification.js' %}"></script>
{% endblock scripts %}
