{% extends "base/main.html" %}
{% load static %}

{% block page_title %}Account Verification{% endblock page_title %}

{% block mainstylesheets %}
<link rel="stylesheet" href="{% static 'users//styles//user_verification.css' %}">
{% endblock mainstylesheets %}

{% block html_body %}
<body>
    <main class="container">
        <div id="message">
            {% if verification_status == "success" %}
                <h2>{{ verification_detail }}</h2>
                <p>Congratulations! You can now access all of Graphi's features.</p>
                <p>Click <a href="{% url 'dashboard:dashboard' %}">here</a> to visit your dashboard.</p>
            {% elif verification_status == "error" %}
                <h2>{{ verification_detail }}</h2>
                <p>Sorry, we were unable to verify your account. Please try again later.</p>
            {% endif %}
        </div>
    </main>
</body>
{% endblock html_body %}

