{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block mainmeta %}
    {% endblock mainmeta %}

    <title>
        Graphi | {% block page_title %}{% endblock page_title %}
    </title>

    <link rel="stylesheet" href="{% static 'base//styles//main.css' %}">

    <!-- Noty.js Themes-->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/noty.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/themes/mint.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/themes/relax.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/themes/semanticui.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/themes/bootstrap-v4.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/themes/nest.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/themes/metroui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty/lib/themes/sunset.css"> -->
    {% block mainstylesheets %}
    {% endblock mainstylesheets %}
</head>

<body>
{% block html_body %}
{% endblock html_body %}
</body>

<!-- Noty.js -->
<script src="https://cdn.jsdelivr.net/npm/noty/lib/noty.min.js"></script>
<script src="{% static 'base//scripts//utils.js' %}"></script>
{% block mainscripts %}
{% endblock mainscripts %}
</html>
