body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px 0;
    background: var(--white);
    position: relative;
}

.floating-card{
    width: 100%;
    background: transparent;
    backdrop-filter: blur(16px);
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
}

.current-tab{
    color: var(--jasper) !important;
}


/* Side bar Section */

#sidebar{
    position: sticky;
    inset: 0;
    width: 25%;
    max-width: 500px;
    min-height: 100vh;
    background: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    background: var(--deep-blue);
}

#sidebar #logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar #logo h1{
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 700;
    color: var(--jasper);
    text-align: center;
}

#sidebar > nav{
    width: 100%;
}

#sidebar > nav::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: var(--deep-blue);
    opacity: 0.5;
    filter: blur(5px);
    z-index: -1;
}

#sidebar > nav > ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

#sidebar > nav > ul > li > a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--teal);
    font-size: 18px;
    font-weight: 600;
    font-family: "DM Sans";
}

#sidebar > nav > ul > li > a > svg{
    width: 24px;
    height: 24px;
}

.show-sidebar{
    transition: 0.2s ease-out;
    transform: none !important;
}


/* Main Section */
#main{
    position: sticky;
    inset: 0;
    padding: 40px;
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

#main > header{
    position: sticky;
    top: 40px;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 24px;
    background: transparent;
    backdrop-filter: blur(16px);
}

#main > header > #search-bar{
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    background: var(--bluish-gray);
    color: var(--text-dark);
}

#main > header > #search-bar > svg{
    width: 16px;
    height: 16px;
}

#main > header > #search-bar > input{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    color: inherit;
}

#main > header > #search-bar > input::placeholder{
    color: inherit;
    font-family: "Manrope";
}


#main > header > #nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 16px;
    padding: 0 16px;
    font-family: "DM Sans";
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 600;
}

#nav-menu > li > a{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nav-menu > li > #account{
    width: max-content;
    padding: 4px 6px;
    border-radius: 6px;
    background: var(--parchment);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    flex-shrink: 0;
}

#account > #initials{
    font-family: "DM Sans";
    font-size: 12px;
    font-weight: 600;
    color: var(--white);
    background: var(--teal);
    padding: 4px 8px;
    border-radius: 4px;
}

#account > #fullname{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 600;
    color: var(--text-dark);
    flex-shrink: 0;
}

#nav-menu > li > #signout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
    flex-shrink: 0;
}

#nav-menu > li > #signout > *{
    flex-shrink: 0;
}

#nav-menu #menu-toggle{
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0 8px;
}

#menu-toggle > svg{
    width: 24px;
    height: 24px;
}

body:has(#sidebar.show-sidebar){
    overflow-y: hidden !important;
}

body:has(#sidebar.show-sidebar) #menu-toggle{
    color: var(--jasper);
}

/* Media Queries */
@media (hover:hover){

    #sidebar > nav > ul > li > a:hover{
        color: var(--cambridge-blue);
    }

    #nav-menu > li > #account:hover{
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    #nav-menu > li > #signout:hover{
        color: red;
    }
    
    #menu-toggle:hover{
        color: var(--jasper);
    }

}


@media screen and (max-width: 1280px){

    #sidebar{
        position: fixed;
        inset: 0;
        z-index: 10000;
        width: 400px;
        max-width: 80%;
        transform: translateX(-110%);
    }

    #nav-menu #menu-toggle{
        display: flex;
    }
}


@media screen and (max-width: 980px){

    #main{
        padding: 40px 20px;
    }

    #signout > span{
        display: none;
    }
}


@media screen and (max-width: 600px){

    #account > #fullname{
        display: none;
    }

    #menu-toggle > span{
        display: none;
    }
}
